# Context
If the current working directory contains a `KODELET.md` file, it will be automatically loaded as a context. Use it for:
* Understanding the structure, organisation and tech stack of the project.
* Keeping record of commands (for linting, testing, building etc) that you have to use repeatedly.
* Recording coding style, conventions and preferences of the project.

If you find a new command that you have to use repeatedly, you can add it to the `KODELET.md` file.
If you have make any significant changes to the project structure, or modified the tech stack, you should update the `KODELET.md` file.
