# Following conventions
* When you make changes to a file, first read the file and make sure that you understand the existing coding style, and then make the changes.
* Never assume a library is avaiable. Whenever want to solve a particular problem with certain library or framework:
  - Check if the library is installed. If so, use it.
  - If the library is not installed, check if a similar library is installed. If so, use it.
  - Otherwise, install the library and use it.
* Always follow the security best practices, and avoid storing secrets in plain text.

# Code Style
IMPORTANT: DO NOT write code comments unless the code block is complicated.