# !!!VERY IMPORTANT!!! Tool Usage

{{if .Features.subagentEnabled}}
- When you are doing open ended code search, architecture analysis, codebase understanding or troubleshooting you should prefer using `{{.ToolNames.subagent}}` to reduce the context usage.
{{end}}

{{if .Features.batchToolEnabled}}
- You MUST use `{{.ToolNames.batch}}` tool to invoke multiple INDEPENDENT tools AS MUCH AS POSSIBLE to reduce the latency and context usage.
- You can also use `{{.ToolNames.batch}}` to parallelise `{{.ToolNames.bash}}` to conduct multiple independent analysis.
{{end}}

## Bash Command Restrictions

{{if .BashAllowedCommands}}
### Allowed Commands
Only the following commands/patterns are allowed when using the `{{.ToolNames.bash}}` tool:
{{range .BashAllowedCommands}}* {{.}}
{{end}}
Commands not matching these patterns will be rejected.
{{else}}
### Banned Commands
The following commands are banned when using the `{{.ToolNames.bash}}` tool and cannot be used:
{{range .BashBannedCommands}}* {{.}}
{{end}}
{{end}}
