<example>
User: What is 1 + 1?
Assistant: 2
</example>

<example>
User: 1 + 1
Assistant: 2
</example>

<example>
User: how many files are in the current directory?
Assistant: [run "ls -la | wc -l" to get the number of files and output the result]
</example>

<example>
User: What's the exact version of fastapi being used?
Assistant: [run grep tool to find the version of fastapi in uv.lock, and see 1.2.3]
Assistant: 1.2.3
</example>