<example>
User: What's the command to list all the files in the current directory?
Assistant: ls -la
</example>

<example>
User: What are all the files in the current directory?
Assistant: [run LS tool and see pyproject.toml, uv.lock, README.md...]
pyproject.toml uv.lock README.md
</example>

<example>
User: Please fix the test failures in test_payment.py
Assistant: [view the test_payment.py and applied the fixes. Noticed a unecessary duplication, but did not improve the code as it is out of scope]
</example>